<div class="modal fade" id="createPasswordModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content flex-row left-image mh-530">
      <div class="modal-image" style="background-image: url({{ file_url(directory ~ '/images/popup3.jpg') }});">
      </div>
      <div class="modal-body d-flex flex-column justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="icon-close"></span>
        </button>

        <div class="modal-title h2 mb-2">{{ 'Création mot de passe'|t }}</div>

        <p class="text-muted">{{ 'Ravis de vous revoir.'|t }}<br>{{ 'Saisissez votre mot de passe pour confirmer la création de votre compte.'|t }}</p>

        <form action="/user/changePassword?op=create" method="post">
          <div class="form-group">
            <label for="newPassword">{{ 'Nouveau mot de passe'|t }}</label>
            <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="{{ 'Mot de passe'|t }}" tabindex="1">
          </div>
          <div class="form-group mb-4-5">
            <label for="confirmNewPassword">{{ 'Confirmez votre mot de passe' }}</label>
            <input type="password" class="form-control" id="confirmNewPassword" placeholder="{{ 'Mot de passe' }}" tabindex="2">
          </div>
          <div id="passwordStrengthError" class="help-block text-red text-center mb-3 hidden">
            {{ 'Votre mot de passe est trop faible.'|t }}<br/>
            {{ 'Il faut 8 caractères minimum, une majuscule, un chiffre et un caractère spécial.'|t }}
          </div>
          <div id="passwordError" class="help-block text-red text-center mb-3 hidden">
            {{ 'Les mots de passe ne correspondent pas'|t }}
          </div>
          <div class="form-group mb-3 text-center">
            <button class="btn btn-primary submit"  tabindex="3">{{ 'Confirmer'|t }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
