<div class="modal show fade" id="rememberModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content flex-row left-image mh-530">
      <div class="modal-image" style="background-image: url({{ file_url(directory ~ '/images/popup2.jpg') }}">
      </div>
      <div class="modal-body d-flex flex-column justify-content-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="icon-close"></span>
        </button>

        <div class="modal-title h2 mb-2">{{ 'Mot de passe oublié'|t  }}</div>

        <p class="text-muted">{{ 'Saisissez votre email pour recevoir un email qui vous permettra de changer de mot de passe.'|t }}</p>
        {% set form = getPasswordResetForm()  %}
        <form id="{{ form['#id'] }}" accept-charset="UTF-8" method="{{ form['#method'] }}" action="">

          {{ form.form_id }}
          {{ form.name }}
          <div id="emailError" class="help-block text-red mb-3 hidden">
            {{ 'Cet email n\'existe pas'|t }}
          </div>

          <div id="tokenInvalid" class="help-block text-red mb-3 hidden">
            {{ 'Vous avez essayé d\'utiliser un lien à usage unique qui a soit déjà été utilisé, ou bien n\'est plus valide. Veuillez faire une nouvelle demande.'|t }}
          </div>

          <div class="form-group mb-3 text-center">
            {{ form.actions }}
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
